<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OTP Verification</title>
    <style>
      * { box-sizing: border-box; } body { font-family: Arial, sans-serif;
      margin: 0; padding: 0; background-color: #f2f2f2; } .container {
      max-width: 600px; margin: 0 auto; background-color: #ffffff; padding:
      20px; border-radius: 5px; box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); }
      .logo { display: block; margin: 20px auto; width: 200px; max-width: 80%; }
      p { text-align: center; font-size: 18px; margin-top: 0; margin-bottom:
      20px; } strong { font-weight: bold; font-size: 24px; color: #27374d; }
    </style>
  </head>
  <body>
    <div class="container">
      <p>My self, {{userName}}</p>
      <p>
        {{message}}
      </p>
      <p>You can reply back me on my mail:- {{email}}</p>
    </div>
  </body>
</html>