@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
    --default: 240 4% 35%;
    --default-max: 240 6% 10%;
    --pretty: 0 0% 100%;
    --heading: 346.8 77.2% 49.8%;
  }

  .dark {
    --background: 220 14% 12%;
    --foreground: 0 0% 98%;
    --card: 220 14% 14%;
    --card-foreground: 0 0% 98%;
    --popover: 220 14% 14%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 220 5.9% 10%;
    --secondary: 220 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 220 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 220 10% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 3.7% 15.9%;
    --input: 220 3.7% 15.9%;
    --ring: 220 4.9% 83.9%;
    --default: 240 5% 75%;
    --default-max: 0 0% 98%;
    --pretty: 240 6% 10%;
    --heading: 346.8 77.2% 49.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
  scrollbar-width: none;
  scrollbar-color: transparent transparent;
}

.body::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;
}

.l-template {
  grid-template-columns: 2fr 1fr;
}

pre {
  background-color: #1a1d23 !important;
  width: 100% !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

.dark pre {
  background-color: transparent !important;
  width: 100% !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.b-set p:nth-child(1) {
  line-height: 1.4;
  font-size: 14px;
}

.b-set {
  padding: 10px;
  padding-left: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  border: 1px solid hsl(var(--border));
}

@media (max-width: 992px) {
  .l-template {
    grid-template-columns: 1fr;
  }
}

blockquote::before,
blockquote::after {
  content: none !important;
}

code::before,
code::after {
  content: none !important;
}

p code,
h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code,
li code {
  padding: 2px 8px !important;
  border-radius: 5px !important;
  text-decoration: none !important;
  border: 0 solid rgb(66, 66, 66) !important;
  white-space: nowrap !important;
  border-width: 0.2px !important;
  font-weight: 100 !important;
  font-size: 0.8rem !important;
}

.box-fit {
  max-width: 100% !important;
}

.language-jsx {
  background-color: transparent !important;
}

@media (max-width: 768px) {
  .box-fit {
    max-width: 95% !important;
    margin: auto;
  }
}

.grid-cols-custom {
  grid-template-columns: 45px 1fr;
}

.just-way pre {
  margin: 5px !important;
  padding: 5px !important;
  border-radius: 5px !important;
  background-color: #292929 !important;
  width: fit-content !important;
}

.dark .just-way pre {
  background-color: transparent !important;
}

.figure figure {
  margin: 0 !important;
}

.callout p {
  font-size: 14px !important;
  line-height: 1.6 !important;
}

.layout {
  display: grid;
  grid-template-columns: 250px 1fr 250px;
}

@media (max-width: 992px) {
  .layout {
    grid-template-columns: 1fr;
  }
}
