@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scroll-behavior: smooth;
}

.body::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;
}

.l-template {
  grid-template-columns: 2fr 1fr;
}

pre {
  background: transparent !important;
  width: 100% !important;
}

blockquote {
  background-color: rgb(237, 235, 235) !important;
}

.dark blockquote {
  background-color: rgb(34, 34, 34) !important;
}

@media (max-width: 768px) {
  .l-template {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 640px) {
  pre {
    width: 580px !important;
  }
}

@media (max-width: 610px) {
  pre {
    width: 520px !important;
  }
}

@media (max-width: 550px) {
  pre {
    width: 480px !important;
  }
}

@media (max-width: 510px) {
  pre {
    width: 430px !important;
  }
}

@media (max-width: 460px) {
  pre {
    width: 370px !important;
  }
}

@media (max-width: 400px) {
  pre {
    width: 340px !important;
  }
}

@media (max-width: 370px) {
  pre {
    width: 300px !important;
  }
}

.dark .hljs {
  background-color: transparent !important;
}
