.down {
  text-align: center;
  padding-bottom: 1rem;
}

.down a {
  margin-top: 1rem;
  color: black;
  margin-left: 0.5rem;
}

.socialSub {
  padding: 1rem 4rem;
  text-align: center;
  display: flex;
  gap: 1rem;
  padding-bottom: 0.5rem;
  justify-content: center;
}

.socialSub a {
  color: black;
  font-size: 1.4rem;
  transition: ease 0.7s;
}

.socialSub a:hover {
  scale: 1.3;
}
