@import "../common//variables.scss";

.home {
  overflow-x: scroll;
  height: fit-content;
  background-image: url("../../assets/cool.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--absolute-color);
  padding: 4rem 0;
  position: relative;

  &::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
}

.badgeSection {
  text-align: center;

  span {
    font-size: 2rem;
  }

  h1 {
    font-size: 3.4rem;
    width: 95%;
    margin: auto;
  }
}

.contentAbout {
  text-align: center;
  opacity: 0.9;
  font-weight: 100;
  font-size: 1.4rem;
  width: 95%;
  margin: auto;
  margin-top: 1rem;
}

.contentImg {
  @include displayFlex;
  justify-content: center;
  width: 100%;
  margin: auto;
  margin-top: 5rem;

  img {
    width: 12rem;
    height: 12rem;
    border-radius: 100px;
  }
}

.sideBar {
  position: absolute;
  background-color: var(--body-color);
  width: 70px;
  height: 200px;
  left: 0;
  top: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
  gap: 1.5rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  a {
    color: var(--main-font-color);
    font-size: 2rem;
  }
}

.githubIcon {
  transition: all 0.5s ease-in;

  &:hover {
    color: white;
    background-color: var(--opposite-color);
    border-radius: 100px;
  }
}

.twitterIcon:hover {
  color: var(--opposite-color);
}

.linkdIcon:hover {
  color: var(--opposite-color);
}

@media (max-width: 768px) {
  .home {
    height: auto;
  }

  .sideBar {
    width: 60;
    top: 55%;
  }

  .contentAbout {
    text-align: center;
    width: 90%;
    font-size: 1.1rem;
    margin-top: 1.3rem;
  }

  .badgeSection {
    text-align: center;

    h1 {
      font-size: 2rem;
      width: 90%;
    }
  }
}
