.work {
  padding: 0 2rem;
  padding-top: 11rem;
  position: relative;
}

.workGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.projectPic {
  transition: ease 1s;
  position: relative;
}

.projectPic img {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.projectPic:hover {
  scale: 1.03;
}

.projectViewHover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 7rem;
  height: 7rem;
  border-radius: 100px;
  cursor: pointer;
  display: none;
}

.projectViewHover p {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 40%;
  font-size: 0.8rem;
  font-weight: bold;
  left: 15%;
}

.projectPic:hover .projectViewHover {
  display: block;
}

.singleData {
  position: fixed;
  background-color: #edf2f8;
  width: 80%;
  top: 50%;
  height: 600px;
  z-index: 100;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3rem;
  overflow: scroll;
  border-radius: 3px;
}

.singleData::-webkit-scrollbar {
  width: 0;
  opacity: 0;
}

.cancelIcon {
  color: white;
  position: absolute;
  z-index: 101;
  right: 1.5%;
  font-size: 1.5rem;
  top: 3%;
  cursor: pointer;
  color: black;
}

.cool {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 70;
}

@media (max-width: 1200px) {
  .workGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 992px) {
  .workGrid {
    grid-template-columns: repeat(2, 1fr);
  }

  .singleData {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  .workGrid {
    grid-template-columns: 1fr;
  }

  .singleData {
    padding: 2rem;
  }
}
