@import "../common/variables.scss";

.blog-wrap {
  max-width: 1200px;
  margin: auto;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.blog-sub {
  box-shadow: var(--box-shadow-two);
  padding: 1rem;
  border-radius: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: all 300ms ease-in-out;

  &:hover {
    scale: 1.025;
  }
}

.thumbnail {
  width: 100%;
  height: 240px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.blog-details {
  color: var(--main-font-color);

  h1 {
    font-size: 27px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.author-main {
  display: flex;
  align-self: flex-start;
  gap: 10px;

  img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
  }
}

.author-details {
  display: flex;
  align-items: center;
  gap: 5px;

  p {
    font-size: 13px;
    opacity: 0.7;
  }
}

.date {
  font-size: 14px;
  opacity: 0.7;
}

.blog-full-main {
  margin-top: 23px;
}

.blog-full-wrap {
  max-width: 1000px;
  margin: auto;
  color: var(--main-font-color);
  margin-top: 1rem;

  h1 {
    font-size: 28px;
  }
}

.blog-body {
  width: 100%;
  margin-top: 1rem;

  img {
    width: 100%;
    height: 350px;
    border-radius: 10px;
  }

  a {
    color: var(--opposite-color);

    &:hover {
      text-decoration: underline;
    }
  }
  p,
  li,
  span {
    font-size: 19px;
    line-height: 1.4;
  }
}

.author-details-main {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 1.5rem;
}

.left-author {
  display: flex;
  align-items: flex-start;
  gap: 12px;

  img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
  }

  span {
    font-size: 14px;
    opacity: 0.7;
    display: inline-block;
    margin-top: 4px;
  }
}

.right-author {
  display: flex;
  align-items: center;
  gap: 12px;
}

.message {
  background-color: var(--main-font-color);
  color: var(--body-color);
  padding: 8px 22px;
  border-radius: 5px;
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  font-size: 14px;
}

@media (max-width: 1090px) {
  .blog-wrap {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .blog-wrap {
    grid-template-columns: 1fr;
  }

  .blog-full-main {
    padding: 0 1rem;
  }

  .blog-body {
    img {
      height: 220px;
    }

    h2 {
      font-size: 22px;
    }

    h3 {
      font-size: 20px;
    }
  }

  .blog-full-wrap {
    h1 {
      font-size: 25px;
    }
  }
}
